<div class="middleform welcome">
<div id="header">
		The Bard
		<img src=<%= image_path("logo.png")%> id="logo"></img>
</div>
<center>Hello <%= session[:name] %>! <br>
<a href='playlists'> View Playlists </a> <br>
<a href='logout'> Logout </a>
</center>
</div>